[submodule "ECE_461/Project/Phase_1/ECE461-Part-1-CLI-Checker"]
	path = ECE_461/Project/Phase_1/ECE461-Part-1-CLI-Checker
	url = https://github.com/PurdueDualityLab/ECE461-Part-1-CLI-Checker.git
[submodule "ECE_461/Project/Phase_1/ECE461-Part-1-Autograder"]
	path = ECE_461/Project/Phase_1/ECE461-Part-1-Autograder
	url = https://github.com/PurdueDualityLab/ECE461-Part-1-Autograder.git
